/* div {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
} */

.homePage {
  background-color: #282828;
  color: white;
  position: fixed;
  top: 8%;
  left: 0;
  width: 100%;
  height: 100%;
}
.h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 34px;
}
.p3 {
  /* font-family: fantasy; */
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ff6f5a;
  font-weight: bold;
  text-align: right;
  width: 800px;
  float: right;
  margin-right: 3%;
}
